@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  color: #3a3a3a;
}
.container {
  width: 85vw;
  margin: 0 auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
}
.navbar a {
  text-decoration: none;
  color: #3a3a3a;
  font-weight: 600;
}
.navbarSmall {
  display: none;
}
header {
  display: flex;
  align-items: center;
  margin-top: 20px;
  column-gap: 30px;
}
.left {
  width: 50%;
}
.left h1 {
  font-size: 52px;
  font-weight: bold;
}
.left p {
  margin: 16px 0px;
}

.link_btn {
  background-color: #e02c6d;
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  color: white;
  display: flex;
  align-items: center;
}
.link_btn a {
  text-decoration: none;
  color: white;
  margin-right: 10px;
  font-weight: 700;
}
.right {
  width: 50%;
  position: relative;
}
.circle_1 {
  border: 2px solid #f1e4ff;
  border-radius: 50%;
  width: 475px;
  height: 475px;
  margin: auto;
}
.circle_2 {
  border-radius: 50%;
  border: 60px solid #f1e4ff;
  width: 332px;
  height: 332px;
  position: relative;
  top: 71.5px;
  margin: auto;
}

.right img {
  width: 100%;
  transform: scale(2.3);
}
.ecommerce_brand {
  margin-top: 100px;
}
.brand_name {
  height: auto;
  padding: 30px 0px;
  border: 1px solid #ddd;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.popular_collection_area h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  color: #3a3a3a;
  margin: 30px 0px 60px;
}
.products {
  max-width: 1047px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.product {
  width: 329px;
  height: 476px;
  padding: 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.product img {
  width: 100%;
}
.product h2 {
  margin-top: 16px;
  color: #18191f;
  font-weight: 500;
  font-size: 28px;
}
.product h3 {
  margin-top: 6px;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
}
.rating {
  margin-top: 6px;
  color: #fb8200;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.rating p {
  color: #5e6366;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.product_btm_txt {
  margin-top: 10px;
  color: #787885;
  font-size: 14px;
  font-weight: 700;
}
.bottom_txt {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 10px;
  max-width: 1047px;
  margin: 50px auto 0px;
  color: rgba(224, 44, 109, 0.87);
}
.bottom_txt a {
  text-decoration: none;
  color: rgba(224, 44, 109, 0.87);
  font-size: 16px;
  font-weight: 700;
}
.featured_product {
  max-width: 1140px;
  margin: 100px auto 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 95px;
}
.left_img {
  display: flex;
  align-items: center;
}
.right_txt h1 {
  font-size: 38px;
  font-weight: 700;
  color: #260813;
}
.right_txt p {
  font-size: 16px;
  font-weight: 700;
  color: #6c6c6c;
  padding-right: 100px;
  margin: 16px 0px;
}
.right_txt button {
  border-radius: 0px;
}
footer {
  height: 240px;
  background-color: #0a0826;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer h3 {
  font-size: 24px;
  font-weight: 700;
}
footer p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 700;
}
.social_icons {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}
.icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-brands {
  font-size: 24px;
}
@media only screen and (max-width: 480px) {
  .container {
    width: 95vw;
  }
  .navbar {
    display: none;
  }
  .navbarSmall {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
  }
  .navbarSmall .fa-solid {
    font-size: 24px;
  }
  header {
    flex-direction: column-reverse;
  }
  .left,
  .right {
    width: 100%;
    margin-top: 22px;
  }
  .circle_1 {
    width: 400px;
    height: 400px;
  }
  .circle_2 {
    width: 300px;
    height: 300px;
    position: relative;
    top: 50px;
  }
  .right img {
    transform: scale(2.1);
  }
  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .left h1 {
    font-size: 38px;
  }
  .left p {
    margin: 20px 30px;
  }
  .link_btn {
    padding: 18px 35px;
    border-radius: 35px;
    font-size: 18px;
  }
  .ecommerce_brand {
    margin-top: 50px;
  }
  .brand_name {
    padding: 20px 0px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    gap: 30px;
  }
}
